
* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}


li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}


.images-centering {
    margin: auto;
}


.big-top-marg {
    margin-top: 30px;
}


.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/


.navbar {
    
    background-color: #282828 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a {
    
    color: #fff !important;
    opacity: 0.7;
}


.navbar a:hover {
    
    opacity: 1;
    background-color: #111111 !important;
}

.CDLogo {
    margin-top: 5px;
}


/*HEADER*/

.header {
    
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../images/bg3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


.header img {
    
    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {
    
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    
    margin-top: 20px;
}



@media(max-width:768px) {
    
    .header {
        
        padding: 30px;
        height: 750px;
    }
    
    .header img {
        
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    
    .header .btn {
        
        font-size: 10px;
        margin-left: 20px;
    }
    
    .header h1 {
        
        font-size: 20px;
    }
    
    .header p {
        
        font-size: 10px;
    }
}


/*scholarship*/

.scholarship img {
    
    margin: auto;
}

.scholarship {
    
    padding: 80px 0 80px;
    text-align: center;
}

.scholarship h2,
.scholarship h4 {
    
    color: #4c4c4c;
    margin: 20px 0 20px;
}


.scholarship p {
    
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}



@media(max-width:768px) {
    
    .scholarship {
        
        padding: 30px;
    }
}


/*Courses*/



.courses {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #084B8A;
}

.courses h2 {
    color: #fff;
}

.courses p {
    
    color: #fff;
}

.courses p {
    
    padding-bottom: 30px;
}

.courses .packages {
    min-height: 325px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages img {
    margin: auto;
}


.packages h1 {
    color: #4c4c4c;
}

.packages h4,
.packages b {
    
    color: #4c4c4c;
}


.packages p {
    
    color: #737373;
}

@media(max-width:768px) {
    
    .courses {
        
        padding: 30px;
    }

    .courses .packages {
        min-height: 200px;
    }

    .packages {
        width: 100%;
    }

    .packages h1 {
        font-size: 16px;
    }    
}


/*About Us*/

.aboutUs {
    padding: 50px 0 80px;
    text-align: center;
}

.aboutUs img {
    margin: auto;
}

.aboutUs h2 {
    margin: 20px 0 20px;
    color: #4c4c4c;
}

.aboutUs p {
    margin: 20px 0 20px;
    text-align: justify;
    color: #737373;
}


/*Companies*/

.companies {
    padding: 50px 0 80px;
    text-align: center;
}

.companies h3 {
    margin-top: 80px;
    color: #4c4c4c;
}

.companies b,
.companies h2,
.companies h4 {
    
    margin: 20px 0 20px;
    color: #4c4c4c;
}


.companies p {
    
    color: #737373;
}

.companies-img {
    margin: auto;
    height: 150px;
    width: 150px;
    margin-top: 80px;
}


.network-svg-img {
     height: 100%;
     width: 100%;
}



/*Partners*/

.partners {
    padding: 50px 0 80px;
    text-align: center;
    color: #fff;
}

.partners h2 {
    text-align: center;
    color: #5e5e5e;
}

.partners p {
    
    padding-bottom: 40px;
}

.partners img {
    
    width: 200px;
    opacity: 0.5;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}


.partners a:hover img {
    
    opacity: 1;
}

@media(max-width:768px) {
    .partners img {
        margin: auto;
    }
 }   



/*apply*/

.apply {
    
    padding: 50px 0 80px;
    text-align: center;
}

.apply p {
    
    padding-bottom: 80px;
    color: #737373;
}

.apply h2 {
    
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.apply .input-group {
    
    margin-bottom: 25px;
}

.apply .form-control {
    
    border-radius: 0 !important;
}

.apply span {
    
    border-radius: 0 !important;
}

.apply .btn {
    
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.apply .btn:hover {
    
    background-color: #a85959 !important;
    color: #fff !important;
}

